// |=============== FONT-FAMILY ===============>
// |CM| Main font-family
$primary-font-family: "Open Sans", system-ui;

// |=============== COLOR ===============>
// |CM| Change favorite color (Amethyst - 274)
$hue-color: 274;
// |CM| HSL color mode
$primary-color: hsl($hue-color 55% 59%);
$second-color: hsl($hue-color 70% 80%);
$third-color: hsl($hue-color 42% 45%);
$fourth-color: hsl($hue-color 82% 73%);
$fifth-color: hsl($hue-color 82% 73% / 0.4);
$sixth-color: hsl(0 81% 45%);
$seventh-color: hsl(0 0% 93%);
$eighth-color: hsl(0 0% 79%);
$ninth-color: hsl(0 0% 72%);
$tenth-color: hsl(0 0% 60%);
$eleventh-color: hsl(0 0% 40%);
$twelfth-color: hsl(0 0% 20%);
$thirteenth-color: hsl(0 0% 0% / 0.9);
$fourteenth-color: hsl(0 0% 0% / 0.6);
$fifteenth-color: hsl(0 0% 0% / 0.5);
$sixteenth-color: hsl(0 0% 0% / 0.4);
$seventeenth-color: hsl(0 0% 100% / 0.8);
$eighteenth-color: hsl(0 0% 100% / 0.2);
$nineteenth-color: hsl(0 0% 0% / 0);
// |CM| Universal colors
$white-color: hsl(0 0% 100%);
$black-color: hsl(0 0% 0%);

// |=============== FONT-WEIGHT ===============>
// |CM| Main font-weight
$primary-font-weight: 600;
// |CM| Additional font-weights
$second-font-weight: 700;

// |=============== FONT-SIZE ===============>
// |CM| Base font-size ( .5rem = 8px, 1rem = 16px, 1.5rem = 24px ...)
$text-size-base: 16px;
// |CM| Different font-size options
$text-size-tiny: $text-size-base - 4px;
$text-size-small: $text-size-base - 2px;
$text-size-medium: $text-size-base + 2px;
$text-size-big: $text-size-base + 4px;
$text-size-large: $text-size-base + 8px;
$text-size-huge: $text-size-base + 12px;
$text-size-max-tiny: $text-size-base + 16px;
$text-size-max-small: $text-size-base + 32px;
$text-size-max-medium: $text-size-base + 56px;

// |=============== BORDER-RADIUS ===============>
// |CM| Main border-radius
$primary-br: 6px;
// |CM| Additional border-radiuses
$second-br: 100px;
$third-br: 50%;

// |=============== BACKGROUND-COLOR ===============>
// |CM| Specifying a fallback color for background images (Swiper)
$primary-fb-color: hsl(24 15% 37%);
$second-fb-color: hsl(24 29% 30%);
$third-fb-color: hsl(32 26% 25%);
// |CM| Specifying a fallback color for background images (Dropdown)
$fourth-fb-color: hsl(23 31% 20%);
$fifth-fb-color: hsl(35 22% 22%);
$sixth-fb-color: hsl(32 16% 35%);
$seventh-fb-color: hsl(42 10% 26%);
$eighth-fb-color: hsl(70 22% 27%);
$ninth-fb-color: hsl(31 14% 40%);
$tenth-fb-color: hsl(65 6% 36%);
$eleventh-fb-color: hsl(86 5% 28%);
$twelfth-fb-color: hsl(38 52% 22%);
$thirteenth-fb-color: hsl(30 18% 26%);
$fourteenth-fb-color: hsl(37 41% 36%);
$fifteenth-fb-color: hsl(44 49% 21%);
$sixteenth-fb-color: hsl(22 72% 25%);
$seventeenth-fb-color: hsl(356 22% 24%);
$eighteenth-fb-color: hsl(25 12% 36%);
$nineteenth-fb-color: hsl(326 13% 36%);
$twentieth-fb-color: hsl(110 4% 32%);
$twenty-first-fb-color: hsl(184 25% 23%);
$twenty-second-fb-color: hsl(7 20% 23%);
$twenty-third-fb-color: hsl(30 20% 41%);
// |CM| Specifying a fallback color for background images (Gallery)
$twenty-fourth-fb-color: hsl(0 0% 7%);

// |=============== TRANSITION ===============>
// |CM| Duration of effects (most effective 0.2 to 0.4s)
$fast-transition-duration: 0.2s;

// |=============== Z-INDEX ===============>
// |CM| Different z-index values for ease of selection
$primary-z: -1;
$second-z: 0;
$third-z: 1;
$fourth-z: 2;
$fifth-z: 3;
$sixth-z: 4;
$seventh-z: 5;
// |CM| Ready z-index values for different components
$z-tooltip: 20;
$z-fixed: 100;
$z-modal: 1000;
