<section class="section-catalog" id="section-catalog">
  <div class="container section-catalog__container">
    <h2 class="title section-catalog__title">
      Каталог
    </h2>
    <p class="section-catalog__desc">
      Акционеры крупнейших компаний, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут объявлены нарушающими общечеловеческие нормы этики и&nbsp;морали. Являясь всего лишь частью общей картины, стремящиеся вытеснить традиционное производство, нанотехнологии и&nbsp;по&nbsp;сей день остаются уделом либералов, которые жаждут быть функционально разнесены на&nbsp;независимые элементы.
    </p>
    <div class="content-catalog section-catalog__content">
      <div class="box-catalog ui-box-tab ui-tab-active content-catalog__box" data-tab-content="domeniko">
        <picture>
          <source srcset="img/pictures/fr-domeniko-320.avif, img/pictures/fr-domeniko-320@2x.avif 2x, img/pictures/fr-domeniko-320@3x.avif 3x" media="(max-width: 20em)" type="image/avif">
          <source srcset="img/pictures/fr-domeniko-320.webp, img/pictures/fr-domeniko-320@2x.webp 2x, img/pictures/fr-domeniko-320@3x.webp 3x" media="(max-width: 20em)" type="image/webp">
          <source srcset="img/pictures/fr-domeniko-320.jpg, img/pictures/fr-domeniko-320@2x.jpg 2x, img/pictures/fr-domeniko-320@3x.jpg 3x" media="(max-width: 20em)">
          <source srcset="img/pictures/fr-domeniko-768.avif, img/pictures/fr-domeniko-768@2x.avif 2x, img/pictures/fr-domeniko-768@3x.avif 3x" media="(max-width: 48em)" type="image/avif">
          <source srcset="img/pictures/fr-domeniko-768.webp, img/pictures/fr-domeniko-768@2x.webp 2x, img/pictures/fr-domeniko-768@3x.webp 3x" media="(max-width: 48em)" type="image/webp">
          <source srcset="img/pictures/fr-domeniko-768.jpg, img/pictures/fr-domeniko-768@2x.jpg 2x, img/pictures/fr-domeniko-768@3x.jpg 3x" media="(max-width: 48em)">
          <source srcset="img/pictures/fr-domeniko-1024.avif, img/pictures/fr-domeniko-1024@2x.avif 2x, img/pictures/fr-domeniko-1024@3x.avif 3x" media="(max-width: 64em)" type="image/avif">
          <source srcset="img/pictures/fr-domeniko-1024.webp, img/pictures/fr-domeniko-1024@2x.webp 2x, img/pictures/fr-domeniko-1024@3x.webp 3x" media="(max-width: 64em)" type="image/webp">
          <source srcset="img/pictures/fr-domeniko-1024.jpg, img/pictures/fr-domeniko-1024@2x.jpg 2x, img/pictures/fr-domeniko-1024@3x.jpg 3x" media="(max-width: 64em)">
          <source srcset="img/pictures/fr-domeniko-1920.avif, img/pictures/fr-domeniko-1920@2x.avif 2x, img/pictures/fr-domeniko-1920@3x.avif 3x" type="image/avif">
          <source srcset="img/pictures/fr-domeniko-1920.webp, img/pictures/fr-domeniko-1920@2x.webp 2x, img/pictures/fr-domeniko-1920@3x.webp 3x" type="image/webp">
          <img class="box-catalog__picture" src="img/pictures/fr-domeniko-1920.jpg" srcset="img/pictures/fr-domeniko-1920@2x.jpg 2x, img/pictures/fr-domeniko-1920@3x.jpg 3x" width="750" height="470" decoding="async" loading="lazy" alt="Одна из работ автора Доменико Гирландайо.">
        </picture>
        <h3 class="box-catalog__title">
          Доменико Гирландайо
        </h3>
        <span class="box-catalog__date">
          <time datetime="1448-06-02">2&nbsp;июня 1448</time>&nbsp;&mdash; <time datetime="1494-01-11">11&nbsp;января 1494</time>.
        </span>
        <p class="box-catalog__desc">
          Один из&nbsp;ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили его брат Давид и&nbsp;сын Ридольфо. Глава художественной мастерской, где юный Микеланджело в&nbsp;течение года овладевал профессиональными навыками. Автор фресковых циклов, в&nbsp;которых выпукло, со&nbsp;всевозможными подробностями показана домашняя жизнь библейских персонажей (в&nbsp;их&nbsp;роли выступают знатные граждане Флоренции в&nbsp;костюмах того времени).
        </p>
      </div>
      <div class="box-catalog ui-box-tab content-catalog__box" data-tab-content="antonio">
        <picture>
          <source srcset="img/pictures/fr-antonio-320.avif, img/pictures/fr-antonio-320@2x.avif 2x, img/pictures/fr-antonio-320@3x.avif 3x" media="(max-width: 20em)" type="image/avif">
          <source srcset="img/pictures/fr-antonio-320.webp, img/pictures/fr-antonio-320@2x.webp 2x, img/pictures/fr-antonio-320@3x.webp 3x" media="(max-width: 20em)" type="image/webp">
          <source srcset="img/pictures/fr-antonio-320.jpg, img/pictures/fr-antonio-320@2x.jpg 2x, img/pictures/fr-antonio-320@3x.jpg 3x" media="(max-width: 20em)">
          <source srcset="img/pictures/fr-antonio-768.avif, img/pictures/fr-antonio-768@2x.avif 2x, img/pictures/fr-antonio-768@3x.avif 3x" media="(max-width: 48em)" type="image/avif">
          <source srcset="img/pictures/fr-antonio-768.webp, img/pictures/fr-antonio-768@2x.webp 2x, img/pictures/fr-antonio-768@3x.webp 3x" media="(max-width: 48em)" type="image/webp">
          <source srcset="img/pictures/fr-antonio-768.jpg, img/pictures/fr-antonio-768@2x.jpg 2x, img/pictures/fr-antonio-768@3x.jpg 3x" media="(max-width: 48em)">
          <source srcset="img/pictures/fr-antonio-1024.avif, img/pictures/fr-antonio-1024@2x.avif 2x, img/pictures/fr-antonio-1024@3x.avif 3x" media="(max-width: 64em)" type="image/avif">
          <source srcset="img/pictures/fr-antonio-1024.webp, img/pictures/fr-antonio-1024@2x.webp 2x, img/pictures/fr-antonio-1024@3x.webp 3x" media="(max-width: 64em)" type="image/webp">
          <source srcset="img/pictures/fr-antonio-1024.jpg, img/pictures/fr-antonio-1024@2x.jpg 2x, img/pictures/fr-antonio-1024@3x.jpg 3x" media="(max-width: 64em)">
          <source srcset="img/pictures/fr-antonio-1920.avif, img/pictures/fr-antonio-1920@2x.avif 2x, img/pictures/fr-antonio-1920@3x.avif 3x" type="image/avif">
          <source srcset="img/pictures/fr-antonio-1920.webp, img/pictures/fr-antonio-1920@2x.webp 2x, img/pictures/fr-antonio-1920@3x.webp 3x" type="image/webp">
          <img class="box-catalog__picture" src="img/pictures/fr-antonio-1920.jpg" srcset="img/pictures/fr-antonio-1920@2x.jpg 2x, img/pictures/fr-antonio-1920@3x.jpg 3x" width="750" height="470" decoding="async" loading="lazy" alt="Одна из работ автора Бьяджо д'Антонио Туччи.">
        </picture>
        <h3 class="box-catalog__title">
          Бьяджо д&rsquo;Антонио Туччи
        </h3>
        <span class="box-catalog__date">
          <time datetime="1446-03-12">12&nbsp;марта 1446</time>&nbsp;&mdash; <time datetime="1516-06-01">1&nbsp;июня 1516</time>.
        </span>
        <p class="box-catalog__desc">
          Итальянский художник эпохи Возрождения. Его творчество было вдохновлено работами Филиппо Липпи, Андреа Верроккьо, Доменико Гирландайо.
        </p>
      </div>
      <div class="box-catalog ui-box-tab content-catalog__box" data-tab-content="raffaello">
        <picture>
          <source srcset="img/pictures/fr-raffaello-320.avif, img/pictures/fr-raffaello-320@2x.avif 2x, img/pictures/fr-raffaello-320@3x.avif 3x" media="(max-width: 20em)" type="image/avif">
          <source srcset="img/pictures/fr-raffaello-320.webp, img/pictures/fr-raffaello-320@2x.webp 2x, img/pictures/fr-raffaello-320@3x.webp 3x" media="(max-width: 20em)" type="image/webp">
          <source srcset="img/pictures/fr-raffaello-320.jpg, img/pictures/fr-raffaello-320@2x.jpg 2x, img/pictures/fr-raffaello-320@3x.jpg 3x" media="(max-width: 20em)">
          <source srcset="img/pictures/fr-raffaello-768.avif, img/pictures/fr-raffaello-768@2x.avif 2x, img/pictures/fr-raffaello-768@3x.avif 3x" media="(max-width: 48em)" type="image/avif">
          <source srcset="img/pictures/fr-raffaello-768.webp, img/pictures/fr-raffaello-768@2x.webp 2x, img/pictures/fr-raffaello-768@3x.webp 3x" media="(max-width: 48em)" type="image/webp">
          <source srcset="img/pictures/fr-raffaello-768.jpg, img/pictures/fr-raffaello-768@2x.jpg 2x, img/pictures/fr-raffaello-768@3x.jpg 3x" media="(max-width: 48em)">
          <source srcset="img/pictures/fr-raffaello-1024.avif, img/pictures/fr-raffaello-1024@2x.avif 2x, img/pictures/fr-raffaello-1024@3x.avif 3x" media="(max-width: 64em)" type="image/avif">
          <source srcset="img/pictures/fr-raffaello-1024.webp, img/pictures/fr-raffaello-1024@2x.webp 2x, img/pictures/fr-raffaello-1024@3x.webp 3x" media="(max-width: 64em)" type="image/webp">
          <source srcset="img/pictures/fr-raffaello-1024.jpg, img/pictures/fr-raffaello-1024@2x.jpg 2x, img/pictures/fr-raffaello-1024@3x.jpg 3x" media="(max-width: 64em)">
          <source srcset="img/pictures/fr-raffaello-1920.avif, img/pictures/fr-raffaello-1920@2x.avif 2x, img/pictures/fr-raffaello-1920@3x.avif 3x" type="image/avif">
          <source srcset="img/pictures/fr-raffaello-1920.webp, img/pictures/fr-raffaello-1920@2x.webp 2x, img/pictures/fr-raffaello-1920@3x.webp 3x" type="image/webp">
          <img class="box-catalog__picture" src="img/pictures/fr-raffaello-1920.jpg" srcset="img/pictures/fr-raffaello-1920@2x.jpg 2x, img/pictures/fr-raffaello-1920@3x.jpg 3x" width="750" height="470" decoding="async" loading="lazy" alt="Одна из работ автора Боттичини, Рафаэлло.">
        </picture>
        <h3 class="box-catalog__title">
          Боттичини, Рафаэлло
        </h3>
        <span class="box-catalog__date">
          <time datetime="1477-09-11">11&nbsp;сентября 1477</time>&nbsp;&mdash; <time datetime="1520-04-15">15&nbsp;апреля 1520</time>.
        </span>
        <p class="box-catalog__desc">
          Рафаэлло принадлежал к&nbsp;флорентийской артистической династии&nbsp;&mdash; его дед, Джованни ди&nbsp;Доменико, был известен как художник, расписывавший игральные карты (хотя учёные не&nbsp;исключают, что он&nbsp;мог заниматься и&nbsp;более серьёзной живописью); его отец&nbsp;&mdash; Франческо ди&nbsp;Джованни, был известным флорентийским мастером. Первые художественные навыки Рафаэлло получил в&nbsp;мастерской отца; с&nbsp;этой мастерской связан и&nbsp;ранний период его творчества.
        </p>
      </div>
      <div class="box-catalog ui-box-tab content-catalog__box" data-tab-content="brea">
        <picture>
          <source srcset="img/pictures/fr-brea-320.avif, img/pictures/fr-brea-320@2x.avif 2x, img/pictures/fr-brea-320@3x.avif 3x" media="(max-width: 20em)" type="image/avif">
          <source srcset="img/pictures/fr-brea-320.webp, img/pictures/fr-brea-320@2x.webp 2x, img/pictures/fr-brea-320@3x.webp 3x" media="(max-width: 20em)" type="image/webp">
          <source srcset="img/pictures/fr-brea-320.jpg, img/pictures/fr-brea-320@2x.jpg 2x, img/pictures/fr-brea-320@3x.jpg 3x" media="(max-width: 20em)">
          <source srcset="img/pictures/fr-brea-768.avif, img/pictures/fr-brea-768@2x.avif 2x, img/pictures/fr-brea-768@3x.avif 3x" media="(max-width: 48em)" type="image/avif">
          <source srcset="img/pictures/fr-brea-768.webp, img/pictures/fr-brea-768@2x.webp 2x, img/pictures/fr-brea-768@3x.webp 3x" media="(max-width: 48em)" type="image/webp">
          <source srcset="img/pictures/fr-brea-768.jpg, img/pictures/fr-brea-768@2x.jpg 2x, img/pictures/fr-brea-768@3x.jpg 3x" media="(max-width: 48em)">
          <source srcset="img/pictures/fr-brea-1024.avif, img/pictures/fr-brea-1024@2x.avif 2x, img/pictures/fr-brea-1024@3x.avif 3x" media="(max-width: 64em)" type="image/avif">
          <source srcset="img/pictures/fr-brea-1024.webp, img/pictures/fr-brea-1024@2x.webp 2x, img/pictures/fr-brea-1024@3x.webp 3x" media="(max-width: 64em)" type="image/webp">
          <source srcset="img/pictures/fr-brea-1024.jpg, img/pictures/fr-brea-1024@2x.jpg 2x, img/pictures/fr-brea-1024@3x.jpg 3x" media="(max-width: 64em)">
          <source srcset="img/pictures/fr-brea-1920.avif, img/pictures/fr-brea-1920@2x.avif 2x, img/pictures/fr-brea-1920@3x.avif 3x" type="image/avif">
          <source srcset="img/pictures/fr-brea-1920.webp, img/pictures/fr-brea-1920@2x.webp 2x, img/pictures/fr-brea-1920@3x.webp 3x" type="image/webp">
          <img class="box-catalog__picture" src="img/pictures/fr-brea-1920.jpg" srcset="img/pictures/fr-brea-1920@2x.jpg 2x, img/pictures/fr-brea-1920@3x.jpg 3x" width="750" height="470" decoding="async" loading="lazy" alt="Одна из работ автора Бреа, Людовико.">
        </picture>
        <h3 class="box-catalog__title">
          Бреа, Людовико
        </h3>
        <span class="box-catalog__date">
          <time datetime="1450-01-29">29&nbsp;января 1450</time>&nbsp;&mdash; <time datetime="1523-06-18">18&nbsp;июня 1523</time>.
        </span>
        <p class="box-catalog__desc">
          Ренессансный художник французского происхождения, работы которого в&nbsp;основном сосредоточены в&nbsp;прибрежных городах современных Лигурии (Италия) и&nbsp;восточной части Приморских Альп (Франция).
        </p>
      </div>
      <div class="box-catalog ui-box-tab content-catalog__box" data-tab-content="plug">
        <div class="box-catalog__inner">
          <div class="box-catalog__name">
            Х&nbsp;&mdash; Художник
          </div>
        </div>
        <h3 class="box-catalog__title">
          Что мы&nbsp;о&nbsp;нём знаем?
        </h3>
        <p class="box-catalog__desc box-catalog__desc_plug">
          Пока ничего... Зато мы&nbsp;точно знаем, что в&nbsp;галерее есть на&nbsp;что посмотреть!
        </p>
        <a class="link-catalog box-catalog__link" href="#section-gallery">
          В&nbsp;галерею
        </a>
      </div>
      <ul class="accordion-catalog content-catalog__accordion">
        <li class="ui-box-accordion accordion-catalog__item">
          <button class="js-accordion-btn accordion-catalog__btn" type="button" aria-controls="catalog-content-first" aria-expanded="true">
            <span class="accordion-catalog__title">
              C&nbsp;<time datetime="1400">1400</time> по&nbsp;<time datetime="1499">1499</time>&nbsp;гг.
            </span>
            <span class="accordion-catalog__icon" aria-hidden="true"></span>
          </button>
          <div class="content-accordion ui-content-accordion accordion-catalog__content" id="catalog-content-first" aria-hidden="false">
            <ul class="content-accordion__list">
              <li class="content-accordion__item content-accordion__item_bindo">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="plug">Бенедетто ди&nbsp;Биндо</a>
              </li>
              <li class="content-accordion__item content-accordion__item_ambrogio">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="plug">Бергоньоне, Амброджо</a>
              </li>
              <li class="content-accordion__item content-accordion__item_francesco">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="plug">Биссоло, Франческо</a>
              </li>
              <li class="content-accordion__item content-accordion__item_giovanni">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="plug">Больтраффио, Джованни</a>
              </li>
              <li class="content-accordion__item content-accordion__item_bonsignori">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="plug">Бонсиньори, Франческо</a>
              </li>
              <li class="content-accordion__item content-accordion__item_raffaello">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="raffaello">Боттичини, Рафаэлло</a>
              </li>
              <li class="content-accordion__item content-accordion__item_bramantino">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="plug">Брамантино</a>
              </li>
              <li class="content-accordion__item content-accordion__item_brea">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="brea">Бреа, Людовико</a>
              </li>
              <li class="content-accordion__item content-accordion__item_antonio">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="antonio">Бьяджо д&rsquo;Антонио Туччи</a>
              </li>
              <li class="content-accordion__item content-accordion__item_vecchietta">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="plug">Веккьетта</a>
              </li>
              <li class="content-accordion__item content-accordion__item_andrea">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="plug">Андреа Верроккьо</a>
              </li>
              <li class="content-accordion__item content-accordion__item_domeniko">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="domeniko">Доменико Гирландайо</a>
              </li>
              <li class="content-accordion__item content-accordion__item_gozzoli">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="plug">Беноццо Гоццоли</a>
              </li>
              <li class="content-accordion__item content-accordion__item_granacci">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="plug">Граначчи, Франческо</a>
              </li>
              <li class="content-accordion__item content-accordion__item_gregorio">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="plug">Грегорио ди&nbsp;Чекко</a>
              </li>
              <li class="content-accordion__item content-accordion__item_udine">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="plug">Джованни да&nbsp;Удине</a>
              </li>
              <li class="content-accordion__item content-accordion__item_paolo">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="plug">Джованни ди&nbsp;Паоло</a>
              </li>
              <li class="content-accordion__item content-accordion__item_giorgione">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="plug">Джорджоне</a>
              </li>
              <li class="content-accordion__item content-accordion__item_bernardo">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="plug">Парентино, Бернардо</a>
              </li>
              <li class="content-accordion__item content-accordion__item_pezellino">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="plug">Пезеллино</a>
              </li>
              <li class="content-accordion__item content-accordion__item_pietro">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="plug">Пьетро Перуджино</a>
              </li>
              <li class="content-accordion__item content-accordion__item_peruzzi">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="plug">Перуцци, Бальдассаре</a>
              </li>
              <li class="content-accordion__item content-accordion__item_pizanello">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="plug">Пизанелло</a>
              </li>
              <li class="content-accordion__item content-accordion__item_pinturicchio">
                <a class="js-tab-btn content-accordion__link" href="#" data-tab-btn="plug">Пинтуриккьо</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="ui-box-accordion accordion-catalog__item">
          <button class="js-accordion-btn accordion-catalog__btn" type="button" aria-controls="catalog-content-second" aria-expanded="false">
            <span class="accordion-catalog__title">
              C&nbsp;<time datetime="1500">1500</time> по&nbsp;<time datetime="1599">1599</time>&nbsp;гг.
            </span>
            <span class="accordion-catalog__icon" aria-hidden="true"></span>
          </button>
          <div class="content-accordion ui-content-accordion accordion-catalog__content" id="catalog-content-second" aria-hidden="true">
            <div class="content-accordion__wrapper">
              <div class="content-accordion__box"></div>
              <div class="content-accordion__inner">
                <h2 class="content-accordion__title">
                  Здесь пока пусто
                </h2>
                <p class="content-accordion__desc">
                  А&nbsp;в&nbsp;галерее вы&nbsp;всегда можете найти что-то интересное для себя
                </p>
                <a class="link-catalog content-accordion__link" href="#section-gallery">
                  В&nbsp;галерею
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="ui-box-accordion accordion-catalog__item">
          <button class="js-accordion-btn accordion-catalog__btn" type="button" aria-controls="catalog-content-third" aria-expanded="false">
            <span class="accordion-catalog__title">
              C&nbsp;<time datetime="1600">1600</time> по&nbsp;<time datetime="1699">1699</time>&nbsp;гг.
            </span>
            <span class="accordion-catalog__icon" aria-hidden="true"></span>
          </button>
          <div class="content-accordion ui-content-accordion accordion-catalog__content" id="catalog-content-third" aria-hidden="true">
            <div class="content-accordion__wrapper">
              <div class="content-accordion__box"></div>
              <div class="content-accordion__inner">
                <h2 class="content-accordion__title">
                  Здесь пока пусто
                </h2>
                <p class="content-accordion__desc">
                  А&nbsp;в&nbsp;галерее вы&nbsp;всегда можете найти что-то интересное для себя
                </p>
                <a class="link-catalog content-accordion__link" href="#section-gallery">
                  В&nbsp;галерею
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="ui-box-accordion accordion-catalog__item">
          <button class="js-accordion-btn accordion-catalog__btn" type="button" aria-controls="catalog-content-fourth" aria-expanded="false">
            <span class="accordion-catalog__title">
              C&nbsp;<time datetime="1700">1700</time> по&nbsp;<time datetime="1799">1799</time>&nbsp;гг.
            </span>
            <span class="accordion-catalog__icon" aria-hidden="true"></span>
          </button>
          <div class="content-accordion ui-content-accordion accordion-catalog__content" id="catalog-content-fourth" aria-hidden="true">
            <div class="content-accordion__wrapper">
              <div class="content-accordion__box"></div>
              <div class="content-accordion__inner">
                <h2 class="content-accordion__title">
                  Здесь пока пусто
                </h2>
                <p class="content-accordion__desc">
                  А&nbsp;в&nbsp;галерее вы&nbsp;всегда можете найти что-то интересное для себя
                </p>
                <a class="link-catalog content-accordion__link" href="#section-gallery">
                  В&nbsp;галерею
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="ui-box-accordion accordion-catalog__item">
          <button class="js-accordion-btn accordion-catalog__btn" type="button" aria-controls="catalog-content-fifth" aria-expanded="false">
            <span class="accordion-catalog__title">
              C&nbsp;<time datetime="1800">1800</time> по&nbsp;<time datetime="1899">1899</time>&nbsp;гг.
            </span>
            <span class="accordion-catalog__icon" aria-hidden="true"></span>
          </button>
          <div class="content-accordion ui-content-accordion accordion-catalog__content" id="catalog-content-fifth" aria-hidden="true">
            <div class="content-accordion__wrapper">
              <div class="content-accordion__box"></div>
              <div class="content-accordion__inner">
                <h2 class="content-accordion__title">
                  Здесь пока пусто
                </h2>
                <p class="content-accordion__desc">
                  А&nbsp;в&nbsp;галерее вы&nbsp;всегда можете найти что-то интересное для себя
                </p>
                <a class="link-catalog content-accordion__link" href="#section-gallery">
                  В&nbsp;галерею
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="ui-box-accordion accordion-catalog__item">
          <button class="js-accordion-btn accordion-catalog__btn" type="button" aria-controls="catalog-content-sixth" aria-expanded="false">
            <span class="accordion-catalog__title">
              C&nbsp;<time datetime="1900">1900</time> по&nbsp;<time datetime="1999">1999</time>&nbsp;гг.
            </span>
            <span class="accordion-catalog__icon" aria-hidden="true"></span>
          </button>
          <div class="content-accordion ui-content-accordion accordion-catalog__content" id="catalog-content-sixth" aria-hidden="true">
            <div class="content-accordion__wrapper">
              <div class="content-accordion__box"></div>
              <div class="content-accordion__inner">
                <h2 class="content-accordion__title">
                  Здесь пока пусто
                </h2>
                <p class="content-accordion__desc">
                  А&nbsp;в&nbsp;галерее вы&nbsp;всегда можете найти что-то интересное для себя
                </p>
                <a class="link-catalog content-accordion__link" href="#section-gallery">
                  В&nbsp;галерею
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="ui-box-accordion accordion-catalog__item">
          <button class="js-accordion-btn accordion-catalog__btn" type="button" aria-controls="catalog-content-seventh" aria-expanded="false">
            <span class="accordion-catalog__title">
              C&nbsp;<time datetime="2000">2000</time>&nbsp;г.
            </span>
            <span class="accordion-catalog__icon" aria-hidden="true"></span>
          </button>
          <div class="content-accordion ui-content-accordion accordion-catalog__content" id="catalog-content-seventh" aria-hidden="true">
            <div class="content-accordion__wrapper">
              <div class="content-accordion__box"></div>
              <div class="content-accordion__inner">
                <h2 class="content-accordion__title">
                  Здесь пока пусто
                </h2>
                <p class="content-accordion__desc">
                  А&nbsp;в&nbsp;галерее вы&nbsp;всегда можете найти что-то интересное для себя
                </p>
                <a class="link-catalog content-accordion__link" href="#section-gallery">
                  В&nbsp;галерею
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
