<section class="section-contacts" id="section-contacts">
  <div class="section-contacts__content">
    <div class="container section-contacts__container">
      <h2 class="section-contacts__title">
        Контакты
      </h2>
      <div class="left-contacts section-contacts__left">
        <h3 class="left-contacts__title">
          Шоурум &#8470;&nbsp;4
        </h3>
        <address class="left-contacts__address">
          Леонтьевский переулок, дом 5/1
        </address>
      </div>
      <form class="callback-form section-contacts__form-callback" action="#" name="callbackForm">
        <div class="callback-form__inner callback-form__inner_name">
          <label class="callback-form__label" for="callback-field-name">
            Введите своё имя.
          </label>
          <input class="callback-form__field callback-form__field_name" id="callback-field-name" type="text" name="callbackFormFieldName" placeholder="Имя*" translate="no" autocapitalize="words" autocorrect="false" autocomplete="name" spellcheck="false" required>
        </div>
        <div class="callback-form__inner callback-form__inner_phone">
          <label class="callback-form__label" for="callback-field-phone">
            Введите номер вашего телефона.
          </label>
          <input class="callback-form__field callback-form__field_phone" id="callback-field-phone" type="tel" name="callbackFormFieldPhone" placeholder="Телефон*" translate="no" autocapitalize="off" autocorrect="false" autocomplete="tel" spellcheck="false" required>
        </div>
        <button class="js-callback-btn callback-form__order">
          Заказать обратный звонок
        </button>
      </form>
      <div class="right-contacts section-contacts__right">
        <h3 class="right-contacts__title">
          Связаться в&nbsp;один клик
        </h3>
        <ul class="connect-contacts right-contacts__connect">
          <li class="connect-contacts__item">
            <a class="connect-contacts__link connect-contacts__link_whatsapp" href="#" target="_blank" rel="noopener" aria-label="Написать компании в Вотсап."></a>
          </li>
          <li class="connect-contacts__item">
            <a class="connect-contacts__link connect-contacts__link_telegram" href="#" target="_blank" rel="noopener" aria-label="Написать компании в Телеграм."></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="section-contacts__map" id="map"></div>
</section>
