<section class="section-events" id="section-events">
  <div class="container section-events__container">
    <h2 class="title section-events__title">
      События
    </h2>
    <div class="swiper swiper-events section-events__swiper">
      <ul class="swiper-wrapper swiper-events__wrapper">
        <li class="swiper-slide swiper-events__slide">
          <article class="swiper-events__content">
            <picture>
              <source srcset="img/pictures/fr-engraving-320.avif, img/pictures/fr-engraving-320@2x.avif 2x, img/pictures/fr-engraving-320@3x.avif 3x" media="(max-width: 20em)" type="image/avif">
              <source srcset="img/pictures/fr-engraving-320.webp, img/pictures/fr-engraving-320@2x.webp 2x, img/pictures/fr-engraving-320@3x.webp 3x" media="(max-width: 20em)" type="image/webp">
              <source srcset="img/pictures/fr-engraving-320.jpg, img/pictures/fr-engraving-320@2x.jpg 2x, img/pictures/fr-engraving-320@3x.jpg 3x" media="(max-width: 20em)">
              <source srcset="img/pictures/fr-engraving-768.avif, img/pictures/fr-engraving-768@2x.avif 2x, img/pictures/fr-engraving-768@3x.avif 3x" media="(max-width: 48em)" type="image/avif">
              <source srcset="img/pictures/fr-engraving-768.webp, img/pictures/fr-engraving-768@2x.webp 2x, img/pictures/fr-engraving-768@3x.webp 3x" media="(max-width: 48em)" type="image/webp">
              <source srcset="img/pictures/fr-engraving-768.jpg, img/pictures/fr-engraving-768@2x.jpg 2x, img/pictures/fr-engraving-768@3x.jpg 3x" media="(max-width: 48em)">
              <source srcset="img/pictures/fr-engraving-1024.avif, img/pictures/fr-engraving-1024@2x.avif 2x, img/pictures/fr-engraving-1024@3x.avif 3x" media="(max-width: 64em)" type="image/avif">
              <source srcset="img/pictures/fr-engraving-1024.webp, img/pictures/fr-engraving-1024@2x.webp 2x, img/pictures/fr-engraving-1024@3x.webp 3x" media="(max-width: 64em)" type="image/webp">
              <source srcset="img/pictures/fr-engraving-1024.jpg, img/pictures/fr-engraving-1024@2x.jpg 2x, img/pictures/fr-engraving-1024@3x.jpg 3x" media="(max-width: 64em)">
              <source srcset="img/pictures/fr-engraving-1920.avif, img/pictures/fr-engraving-1920@2x.avif 2x, img/pictures/fr-engraving-1920@3x.avif 3x" type="image/avif">
              <source srcset="img/pictures/fr-engraving-1920.webp, img/pictures/fr-engraving-1920@2x.webp 2x, img/pictures/fr-engraving-1920@3x.webp 3x" type="image/webp">
              <img class="swiper-events__picture" src="img/pictures/fr-engraving-1920.jpg" srcset="img/pictures/fr-engraving-1920@2x.jpg 2x, img/pictures/fr-engraving-1920@3x.jpg 3x" width="500" height="300" decoding="async" loading="lazy" alt="Изображена книжная гравюра.">
            </picture>
            <span class="swiper-events__date">
              Музей им. Щусева с&nbsp;<time datetime="2021-03-20">20&nbsp;марта</time> по&nbsp;<time datetime="2021-04-30">30&nbsp;апреля</time>
            </span>
            <h3 class="swiper-events__title">
              Книжная гравюра в живом восприятии
            </h3>
            <p class="swiper-events__desc">
              Один из&nbsp;ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили его брат Давид и&nbsp;сын Ридольфо.
            </p>
            <a class="swiper-events__more" href="#">
              Подробнее
            </a>
          </article>
        </li>
        <li class="swiper-slide swiper-events__slide">
          <article class="swiper-events__content">
            <picture>
              <source srcset="img/pictures/fr-discussion-320.avif, img/pictures/fr-discussion-320@2x.avif 2x, img/pictures/fr-discussion-320@3x.avif 3x" media="(max-width: 20em)" type="image/avif">
              <source srcset="img/pictures/fr-discussion-320.webp, img/pictures/fr-discussion-320@2x.webp 2x, img/pictures/fr-discussion-320@3x.webp 3x" media="(max-width: 20em)" type="image/webp">
              <source srcset="img/pictures/fr-discussion-320.jpg, img/pictures/fr-discussion-320@2x.jpg 2x, img/pictures/fr-discussion-320@3x.jpg 3x" media="(max-width: 20em)">
              <source srcset="img/pictures/fr-discussion-768.avif, img/pictures/fr-discussion-768@2x.avif 2x, img/pictures/fr-discussion-768@3x.avif 3x" media="(max-width: 48em)" type="image/avif">
              <source srcset="img/pictures/fr-discussion-768.webp, img/pictures/fr-discussion-768@2x.webp 2x, img/pictures/fr-discussion-768@3x.webp 3x" media="(max-width: 48em)" type="image/webp">
              <source srcset="img/pictures/fr-discussion-768.jpg, img/pictures/fr-discussion-768@2x.jpg 2x, img/pictures/fr-discussion-768@3x.jpg 3x" media="(max-width: 48em)">
              <source srcset="img/pictures/fr-discussion-1024.avif, img/pictures/fr-discussion-1024@2x.avif 2x, img/pictures/fr-discussion-1024@3x.avif 3x" media="(max-width: 64em)" type="image/avif">
              <source srcset="img/pictures/fr-discussion-1024.webp, img/pictures/fr-discussion-1024@2x.webp 2x, img/pictures/fr-discussion-1024@3x.webp 3x" media="(max-width: 64em)" type="image/webp">
              <source srcset="img/pictures/fr-discussion-1024.jpg, img/pictures/fr-discussion-1024@2x.jpg 2x, img/pictures/fr-discussion-1024@3x.jpg 3x" media="(max-width: 64em)">
              <source srcset="img/pictures/fr-discussion-1920.avif, img/pictures/fr-discussion-1920@2x.avif 2x, img/pictures/fr-discussion-1920@3x.avif 3x" type="image/avif">
              <source srcset="img/pictures/fr-discussion-1920.webp, img/pictures/fr-discussion-1920@2x.webp 2x, img/pictures/fr-discussion-1920@3x.webp 3x" type="image/webp">
              <img class="swiper-events__picture" src="img/pictures/fr-discussion-1920.jpg" srcset="img/pictures/fr-discussion-1920@2x.jpg 2x, img/pictures/fr-discussion-1920@3x.jpg 3x" width="500" height="300" decoding="async" loading="lazy" alt="Изображены два человека Дмитрий Петров и Сергей Ильин.">
            </picture>
            <span class="swiper-events__date">
              ММОМА <time datetime="2021-03-24T19:00">24&nbsp;марта 19:00</time>
            </span>
            <h3 class="swiper-events__title">
              &laquo;Открытая дискуссия&raquo;. Дмитрий Петров и&nbsp;Сергей Ильин.
            </h3>
            <p class="swiper-events__desc">
              Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта.
            </p>
            <a class="swiper-events__more" href="#">
              Подробнее
            </a>
          </article>
        </li>
        <li class="swiper-slide swiper-events__slide">
          <article class="swiper-events__content">
            <picture>
              <source srcset="img/pictures/fr-exhibition-320.avif, img/pictures/fr-exhibition-320@2x.avif 2x, img/pictures/fr-exhibition-320@3x.avif 3x" media="(max-width: 20em)" type="image/avif">
              <source srcset="img/pictures/fr-exhibition-320.webp, img/pictures/fr-exhibition-320@2x.webp 2x, img/pictures/fr-exhibition-320@3x.webp 3x" media="(max-width: 20em)" type="image/webp">
              <source srcset="img/pictures/fr-exhibition-320.jpg, img/pictures/fr-exhibition-320@2x.jpg 2x, img/pictures/fr-exhibition-320@3x.jpg 3x" media="(max-width: 20em)">
              <source srcset="img/pictures/fr-exhibition-768.avif, img/pictures/fr-exhibition-768@2x.avif 2x, img/pictures/fr-exhibition-768@3x.avif 3x" media="(max-width: 48em)" type="image/avif">
              <source srcset="img/pictures/fr-exhibition-768.webp, img/pictures/fr-exhibition-768@2x.webp 2x, img/pictures/fr-exhibition-768@3x.webp 3x" media="(max-width: 48em)" type="image/webp">
              <source srcset="img/pictures/fr-exhibition-768.jpg, img/pictures/fr-exhibition-768@2x.jpg 2x, img/pictures/fr-exhibition-768@3x.jpg 3x" media="(max-width: 48em)">
              <source srcset="img/pictures/fr-exhibition-1024.avif, img/pictures/fr-exhibition-1024@2x.avif 2x, img/pictures/fr-exhibition-1024@3x.avif 3x" media="(max-width: 64em)" type="image/avif">
              <source srcset="img/pictures/fr-exhibition-1024.webp, img/pictures/fr-exhibition-1024@2x.webp 2x, img/pictures/fr-exhibition-1024@3x.webp 3x" media="(max-width: 64em)" type="image/webp">
              <source srcset="img/pictures/fr-exhibition-1024.jpg, img/pictures/fr-exhibition-1024@2x.jpg 2x, img/pictures/fr-exhibition-1024@3x.jpg 3x" media="(max-width: 64em)">
              <source srcset="img/pictures/fr-exhibition-1920.avif, img/pictures/fr-exhibition-1920@2x.avif 2x, img/pictures/fr-exhibition-1920@3x.avif 3x" type="image/avif">
              <source srcset="img/pictures/fr-exhibition-1920.webp, img/pictures/fr-exhibition-1920@2x.webp 2x, img/pictures/fr-exhibition-1920@3x.webp 3x" type="image/webp">
              <img class="swiper-events__picture" src="img/pictures/fr-exhibition-1920.jpg" srcset="img/pictures/fr-exhibition-1920@2x.jpg 2x, img/pictures/fr-exhibition-1920@3x.jpg 3x" width="500" height="300" decoding="async" loading="lazy" alt="Изображен зал выставки Формация 2020.">
            </picture>
            <span class="swiper-events__date">
              Еврейский музей с&nbsp;<time datetime="2021-03-31">31&nbsp;марта</time> по&nbsp;<time datetime="2021-04-21">21&nbsp;апреля</time>
            </span>
            <h3 class="swiper-events__title">
              Выставка &laquo;Формация 2020&raquo;
            </h3>
            <p class="swiper-events__desc">
              Идейные соображения высшего порядка, а&nbsp;также современная методология разработки играет важную роль в&nbsp;формировании глубокомысленных рассуждений.
            </p>
            <a class="swiper-events__more" href="#">
              Подробнее
            </a>
          </article>
        </li>
        <li class="swiper-slide swiper-events__slide">
          <article class="swiper-events__content">
            <picture>
              <source srcset="img/pictures/fr-photo-320.avif, img/pictures/fr-photo-320@2x.avif 2x, img/pictures/fr-photo-320@3x.avif 3x" media="(max-width: 20em)" type="image/avif">
              <source srcset="img/pictures/fr-photo-320.webp, img/pictures/fr-photo-320@2x.webp 2x, img/pictures/fr-photo-320@3x.webp 3x" media="(max-width: 20em)" type="image/webp">
              <source srcset="img/pictures/fr-photo-320.jpg, img/pictures/fr-photo-320@2x.jpg 2x, img/pictures/fr-photo-320@3x.jpg 3x" media="(max-width: 20em)">
              <source srcset="img/pictures/fr-photo-768.avif, img/pictures/fr-photo-768@2x.avif 2x, img/pictures/fr-photo-768@3x.avif 3x" media="(max-width: 48em)" type="image/avif">
              <source srcset="img/pictures/fr-photo-768.webp, img/pictures/fr-photo-768@2x.webp 2x, img/pictures/fr-photo-768@3x.webp 3x" media="(max-width: 48em)" type="image/webp">
              <source srcset="img/pictures/fr-photo-768.jpg, img/pictures/fr-photo-768@2x.jpg 2x, img/pictures/fr-photo-768@3x.jpg 3x" media="(max-width: 48em)">
              <source srcset="img/pictures/fr-photo-1024.avif, img/pictures/fr-photo-1024@2x.avif 2x, img/pictures/fr-photo-1024@3x.avif 3x" media="(max-width: 64em)" type="image/avif">
              <source srcset="img/pictures/fr-photo-1024.webp, img/pictures/fr-photo-1024@2x.webp 2x, img/pictures/fr-photo-1024@3x.webp 3x" media="(max-width: 64em)" type="image/webp">
              <source srcset="img/pictures/fr-photo-1024.jpg, img/pictures/fr-photo-1024@2x.jpg 2x, img/pictures/fr-photo-1024@3x.jpg 3x" media="(max-width: 64em)">
              <source srcset="img/pictures/fr-photo-1920.avif, img/pictures/fr-photo-1920@2x.avif 2x, img/pictures/fr-photo-1920@3x.avif 3x" type="image/avif">
              <source srcset="img/pictures/fr-photo-1920.webp, img/pictures/fr-photo-1920@2x.webp 2x, img/pictures/fr-photo-1920@3x.webp 3x" type="image/webp">
              <img class="swiper-events__picture" src="img/pictures/fr-photo-1920.jpg" srcset="img/pictures/fr-photo-1920@2x.jpg 2x, img/pictures/fr-photo-1920@3x.jpg 3x" width="500" height="300" decoding="async" loading="lazy" alt="Изображена одна фотография из серии Метафора серебра.">
            </picture>
            <span class="swiper-events__date">
              ММАМ с&nbsp;<time datetime="2021-04-08">8&nbsp;апреля</time> по&nbsp;<time datetime="2021-05-20">20&nbsp;мая</time>
            </span>
            <h3 class="swiper-events__title">
              Джон Винзор. Фотографии из&nbsp;серии &laquo;Метафора серебра&raquo;
            </h3>
            <p class="swiper-events__desc">
              Один из&nbsp;ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили его брат Давид и&nbsp;сын Ридольфо.
            </p>
            <a class="swiper-events__more" href="#">
              Подробнее
            </a>
          </article>
        </li>
        <li class="swiper-slide swiper-events__slide">
          <article class="swiper-events__content">
            <picture>
              <source srcset="img/pictures/fr-art-320.avif, img/pictures/fr-art-320@2x.avif 2x, img/pictures/fr-art-320@3x.avif 3x" media="(max-width: 20em)" type="image/avif">
              <source srcset="img/pictures/fr-art-320.webp, img/pictures/fr-art-320@2x.webp 2x, img/pictures/fr-art-320@3x.webp 3x" media="(max-width: 20em)" type="image/webp">
              <source srcset="img/pictures/fr-art-320.jpg, img/pictures/fr-art-320@2x.jpg 2x, img/pictures/fr-art-320@3x.jpg 3x" media="(max-width: 20em)">
              <source srcset="img/pictures/fr-art-768.avif, img/pictures/fr-art-768@2x.avif 2x, img/pictures/fr-art-768@3x.avif 3x" media="(max-width: 48em)" type="image/avif">
              <source srcset="img/pictures/fr-art-768.webp, img/pictures/fr-art-768@2x.webp 2x, img/pictures/fr-art-768@3x.webp 3x" media="(max-width: 48em)" type="image/webp">
              <source srcset="img/pictures/fr-art-768.jpg, img/pictures/fr-art-768@2x.jpg 2x, img/pictures/fr-art-768@3x.jpg 3x" media="(max-width: 48em)">
              <source srcset="img/pictures/fr-art-1024.avif, img/pictures/fr-art-1024@2x.avif 2x, img/pictures/fr-art-1024@3x.avif 3x" media="(max-width: 64em)" type="image/avif">
              <source srcset="img/pictures/fr-art-1024.webp, img/pictures/fr-art-1024@2x.webp 2x, img/pictures/fr-art-1024@3x.webp 3x" media="(max-width: 64em)" type="image/webp">
              <source srcset="img/pictures/fr-art-1024.jpg, img/pictures/fr-art-1024@2x.jpg 2x, img/pictures/fr-art-1024@3x.jpg 3x" media="(max-width: 64em)">
              <source srcset="img/pictures/fr-art-1920.avif, img/pictures/fr-art-1920@2x.avif 2x, img/pictures/fr-art-1920@3x.avif 3x" type="image/avif">
              <source srcset="img/pictures/fr-art-1920.webp, img/pictures/fr-art-1920@2x.webp 2x, img/pictures/fr-art-1920@3x.webp 3x" type="image/webp">
              <img class="swiper-events__picture" src="img/pictures/fr-art-1920.jpg" srcset="img/pictures/fr-art-1920@2x.jpg 2x, img/pictures/fr-art-1920@3x.jpg 3x" width="500" height="300" decoding="async" loading="lazy" alt="Изображены разноцветные абстрактные фигуры.">
            </picture>
            <span class="swiper-events__date">
              Третьяковка на&nbsp;Крымском валу с&nbsp;<time datetime="2021-03-30">30&nbsp;марта</time> по&nbsp;<time datetime="2021-04-30">30&nbsp;апреля</time>
            </span>
            <h3 class="swiper-events__title">
              <span lang="en">XXIV</span> Международная биеннале молодого искусства
            </h3>
            <p class="swiper-events__desc">
              Внезапно, реплицированные с&nbsp;зарубежных источников, современные исследования.
            </p>
            <a class="swiper-events__more" href="#">
              Подробнее
            </a>
          </article>
        </li>
      </ul>
      <div class="swiper-pagination swiper-events__pagination"></div>
      <button class="swiper-button-prev swiper-events__prev" type="button"></button>
      <button class="swiper-button-next swiper-events__next" type="button"></button>
    </div>
  </div>
</section>
