<section class="section-hero section-hero_bind">
  <div class="container section-hero__container">
    <h2 class="section-hero__title">
      Прикоснитесь к&nbsp;прекрасному
    </h2>
    <p class="section-hero__desc">
      Мы&nbsp;вынуждены отталкиваться от&nbsp;того, что реализация намеченных плановых заданий создаёт предпосылки для новых предложений.
    </p>
    <a class="section-hero__subscribe" href="#section-contacts">
      Подписаться на&nbsp;рассылку
    </a>
    <div class="swiper swiper-hero js-swiper-hero section-hero__swiper">
      <ul class="swiper-wrapper swiper-hero__wrapper">
        <li class="swiper-slide swiper-hero__slide">
          <div class="swiper-hero__bg swiper-hero__bg_castle"></div>
        </li>
        <li class="swiper-slide swiper-hero__slide">
          <div class="swiper-hero__bg swiper-hero__bg_people"></div>
        </li>
        <li class="swiper-slide swiper-hero__slide">
          <div class="swiper-hero__bg swiper-hero__bg_forest"></div>
        </li>
      </ul>
    </div>
  </div>
</section>
