<div class="modals body__modals">
  <div class="ui-modals-overlay modals__overlay">
    <div class="gallery-modal ui-gallery-box-modal modals__window modals__window_gallery" id="gallery-modal" data-modal-content="gallery" role="dialog" aria-modal="true">
      <picture>
        <source srcset="img/pictures/fr-gallery-modal-320.avif, img/pictures/fr-gallery-modal-320@2x.avif 2x, img/pictures/fr-gallery-modal-320@3x.avif 3x" media="(max-width: 20em)" type="image/avif">
        <source srcset="img/pictures/fr-gallery-modal-320.webp, img/pictures/fr-gallery-modal-320@2x.webp 2x, img/pictures/fr-gallery-modal-320@3x.webp 3x" media="(max-width: 20em)" type="image/webp">
        <source srcset="img/pictures/fr-gallery-modal-320.png, img/pictures/fr-gallery-modal-320@2x.png 2x, img/pictures/fr-gallery-modal-320@3x.png 3x" media="(max-width: 20em)">
        <source srcset="img/pictures/fr-gallery-modal-768.avif, img/pictures/fr-gallery-modal-768@2x.avif 2x, img/pictures/fr-gallery-modal-768@3x.avif 3x" media="(max-width: 48em)" type="image/avif">
        <source srcset="img/pictures/fr-gallery-modal-768.webp, img/pictures/fr-gallery-modal-768@2x.webp 2x, img/pictures/fr-gallery-modal-768@3x.webp 3x" media="(max-width: 48em)" type="image/webp">
        <source srcset="img/pictures/fr-gallery-modal-768.png, img/pictures/fr-gallery-modal-768@2x.png 2x, img/pictures/fr-gallery-modal-768@3x.png 3x" media="(max-width: 48em)">
        <source srcset="img/pictures/fr-gallery-modal-1024.avif, img/pictures/fr-gallery-modal-1024@2x.avif 2x, img/pictures/fr-gallery-modal-1024@3x.avif 3x" media="(max-width: 64em)" type="image/avif">
        <source srcset="img/pictures/fr-gallery-modal-1024.webp, img/pictures/fr-gallery-modal-1024@2x.webp 2x, img/pictures/fr-gallery-modal-1024@3x.webp 3x" media="(max-width: 64em)" type="image/webp">
        <source srcset="img/pictures/fr-gallery-modal-1024.png, img/pictures/fr-gallery-modal-1024@2x.png 2x, img/pictures/fr-gallery-modal-1024@3x.png 3x" media="(max-width: 64em)">
        <source srcset="img/pictures/fr-gallery-modal-1920.avif, img/pictures/fr-gallery-modal-1920@2x.avif 2x, img/pictures/fr-gallery-modal-1920@3x.avif 3x" type="image/avif">
        <source srcset="img/pictures/fr-gallery-modal-1920.webp, img/pictures/fr-gallery-modal-1920@2x.webp 2x, img/pictures/fr-gallery-modal-1920@3x.webp 3x" type="image/webp">
        <img class="gallery-modal__picture" src="img/pictures/fr-gallery-modal-1920.jpg" srcset="img/pictures/fr-gallery-modal-1920@2x.jpg 2x, img/pictures/fr-gallery-modal-1920@3x.jpg 3x" width="400" height="500" decoding="async" loading="lazy" alt="Изображен силуэт женщины с граблями.">
      </picture>
      <div class="gallery-modal__content">
        <button class="close-modal js-modal-close gallery-modal__close" type="button" aria-controls="gallery-modal" aria-expanded="true" aria-label="Закрыть развёрнутое описание изображения.">
          <svg class="close-modal__icon" width="16" height="16" aria-hidden="true">
            <use xlink:href="img/sprites/sprite.svg#icon-close-black" />
          </svg>
        </button>
        <h2 class="gallery-modal__title">
          Казимир Малевич
        </h2>
        <h3 class="gallery-modal__subtitle">
          &laquo;Женщина с&nbsp;граблями&raquo;
        </h3>
        <span class="gallery-modal__date">
          <time datetime="1931">1931</time>-<time datetime="1932">1932</time>
        </span>
        <p class="gallery-modal__desc">
          Картина из&nbsp;второй серии крестьянского цикла работ Казимира Малевича. Художник принялся за&nbsp;её&nbsp;создание в&nbsp;1930-1931&nbsp;годах, после того, как первый цикл был утерян после Берлинской и&nbsp;Варшавской выставок в&nbsp;1927&nbsp;году.
        </p>
      </div>
    </div>
  </div>
</div>
