<section class="section-projects" id="section-projects">
  <div class="container section-projects__container">
    <h2 class="title section-projects__title">
      Проекты
    </h2>
    <div class="text-projects section-projects__text">
      Предварительные выводы: постоянное информационно-пропагандистское обеспечение нашей деятельности однозначно фиксирует необходимость своевременного выполнения сверхзадачи. А&nbsp;ещё независимые государства смешаны с&nbsp;не&nbsp;уникальными данными до&nbsp;степени совершенной неузнаваемости, из-за чего возрастает их&nbsp;статус бесполезности. Прежде всего, постоянное информационно-пропагандистское
      <button class="js-tooltip-first tooltip-btn text-projects__tooltip-btn text-projects__tooltip-btn_first" type="button"></button>
      обеспечение нашей деятельности однозначно фиксирует необходимость экономической целесообразности принимаемых решений. И&nbsp;нет сомнений, что действия представителей оппозиции могут быть рассмотрены
      <button class="js-tooltip-second tooltip-btn text-projects__tooltip-btn text-projects__tooltip-btn_second" type="button"></button>
      исключительно в&nbsp;разрезе маркетинговых и&nbsp;финансовых
      <button class="js-tooltip-third tooltip-btn text-projects__tooltip-btn text-projects__tooltip-btn_third" type="button"></button>
      предпосылок. Банальные, но&nbsp;неопровержимые выводы, а&nbsp;также представители современных социальных резервов призывают нас к&nbsp;новым свершениям, которые, в&nbsp;свою очередь, должны быть смешаны с&nbsp;не&nbsp;уникальными данными до&nbsp;степени совершенной неузнаваемости. Подробнее: <a class="text-projects__link" href="https://blanchard-art.ru/projects" lang="en" target="_blank" rel="noopener">blanchard-art.ru/projects</a>
    </div>
    <h3 class="section-projects__subtitle">
      Партнёры проектов:
    </h3>
    <div class="section-projects__slider">
      <div class="swiper swiper-projects js-swiper-projects section-projects__swiper">
        <ul class="swiper-wrapper swiper-projects__wrapper">
          <li class="swiper-slide swiper-projects__slide">
            <a class="swiper-projects__link" href="#" target="_blank" rel="noopener">
              <picture>
                <source srcset="img/pictures/logo-freelands.avif, img/pictures/logo-freelands@2x.avif 2x, img/pictures/logo-freelands@3x.avif 3x" type="image/avif">
                <source srcset="img/pictures/logo-freelands.webp, img/pictures/logo-freelands@2x.webp 2x, img/pictures/logo-freelands@3x.webp 3x" type="image/webp">
                <img class="swiper-projects__picture" src="img/pictures/logo-freelands.png" srcset="img/pictures/logo-freelands@2x.png 2x, img/pictures/logo-freelands@3x.png 3x" width="244" height="63" decoding="async" loading="lazy" alt="Логотип компании Freelands Foundation.">
              </picture>
            </a>
          </li>
          <li class="swiper-slide swiper-projects__slide">
            <a class="swiper-projects__link" href="#" target="_blank" rel="noopener">
              <picture>
                <source srcset="img/pictures/logo-institute.avif, img/pictures/logo-institute@2x.avif 2x, img/pictures/logo-institute@3x.avif 3x" type="image/avif">
                <source srcset="img/pictures/logo-institute.webp, img/pictures/logo-institute@2x.webp 2x, img/pictures/logo-institute@3x.webp 3x" type="image/webp">
                <img class="swiper-projects__picture" src="img/pictures/logo-institute.png" srcset="img/pictures/logo-institute@2x.png 2x, img/pictures/logo-institute@3x.png 3x" width="330" height="59" decoding="async" loading="lazy" alt="Логотип компании Institute for Contemporary Art.">
              </picture>
            </a>
          </li>
          <li class="swiper-slide swiper-projects__slide">
            <a class="swiper-projects__link" href="#" target="_blank" rel="noopener">
              <picture>
                <source srcset="img/pictures/logo-workhouse.avif, img/pictures/logo-workhouse@2x.avif 2x, img/pictures/logo-workhouse@3x.avif 3x" type="image/avif">
                <source srcset="img/pictures/logo-workhouse.webp, img/pictures/logo-workhouse@2x.webp 2x, img/pictures/logo-workhouse@3x.webp 3x" type="image/webp">
                <img class="swiper-projects__picture" src="img/pictures/logo-workhouse.png" srcset="img/pictures/logo-workhouse@2x.png 2x, img/pictures/logo-workhouse@3x.png 3x" width="229" height="54" decoding="async" loading="lazy" alt="Логотип компании Workhouse.">
              </picture>
            </a>
          </li>
          <li class="swiper-slide swiper-projects__slide">
            <a class="swiper-projects__link" href="#" target="_blank" rel="noopener">
              <picture>
                <source srcset="img/pictures/logo-1849.avif, img/pictures/logo-1849@2x.avif 2x, img/pictures/logo-1849@3x.avif 3x" type="image/avif">
                <source srcset="img/pictures/logo-1849.webp, img/pictures/logo-1849@2x.webp 2x, img/pictures/logo-1849@3x.webp 3x" type="image/webp">
                <img class="swiper-projects__picture" src="img/pictures/logo-1849.png" srcset="img/pictures/logo-1849@2x.png 2x, img/pictures/logo-1849@3x.png 3x" width="123" height="85" decoding="async" loading="lazy" alt="Логотип компании 1849.">
              </picture>
            </a>
          </li>
          <li class="swiper-slide swiper-projects__slide">
            <a class="swiper-projects__link" href="#" target="_blank" rel="noopener">
              <picture>
                <source srcset="img/pictures/logo-hiscox.avif, img/pictures/logo-hiscox@2x.avif 2x, img/pictures/logo-hiscox@3x.avif 3x" type="image/avif">
                <source srcset="img/pictures/logo-hiscox.webp, img/pictures/logo-hiscox@2x.webp 2x, img/pictures/logo-hiscox@3x.webp 3x" type="image/webp">
                <img class="swiper-projects__picture" src="img/pictures/logo-hiscox.png" srcset="img/pictures/logo-hiscox@2x.png 2x, img/pictures/logo-hiscox@3x.png 3x" width="173" height="85" decoding="async" loading="lazy" alt="Логотип компании Hiscox.">
              </picture>
            </a>
          </li>
          <li class="swiper-slide swiper-projects__slide">
            <a class="swiper-projects__link" href="#" target="_blank" rel="noopener">
              <picture>
                <source srcset="img/pictures/logo-camden.avif, img/pictures/logo-camden@2x.avif 2x, img/pictures/logo-camden@3x.avif 3x" type="image/avif">
                <source srcset="img/pictures/logo-camden.webp, img/pictures/logo-camden@2x.webp 2x, img/pictures/logo-camden@3x.webp 3x" type="image/webp">
                <img class="swiper-projects__picture" src="img/pictures/logo-camden.png" srcset="img/pictures/logo-camden@2x.png 2x, img/pictures/logo-camden@3x.png 3x" width="252" height="70" decoding="async" loading="lazy" alt="Логотип компании Camden.">
              </picture>
            </a>
          </li>
          <li class="swiper-slide swiper-projects__slide">
            <a class="swiper-projects__link" href="#" target="_blank" rel="noopener">
              <picture>
                <source srcset="img/pictures/logo-stassen.avif, img/pictures/logo-stassen@2x.avif 2x, img/pictures/logo-stassen@3x.avif 3x" type="image/avif">
                <source srcset="img/pictures/logo-stassen.webp, img/pictures/logo-stassen@2x.webp 2x, img/pictures/logo-stassen@3x.webp 3x" type="image/webp">
                <img class="swiper-projects__picture" src="img/pictures/logo-stassen.png" srcset="img/pictures/logo-stassen@2x.png 2x, img/pictures/logo-stassen@3x.png 3x" width="286" height="69" decoding="async" loading="lazy" alt="Логотип компании Stassen.">
              </picture>
            </a>
          </li>
          <li class="swiper-slide swiper-projects__slide">
            <a class="swiper-projects__link" href="#" target="_blank" rel="noopener">
              <picture>
                <source srcset="img/pictures/logo-watts.avif, img/pictures/logo-watts@2x.avif 2x, img/pictures/logo-watts@3x.avif 3x" type="image/avif">
                <source srcset="img/pictures/logo-watts.webp, img/pictures/logo-watts@2x.webp 2x, img/pictures/logo-watts@3x.webp 3x" type="image/webp">
                <img class="swiper-projects__picture" src="img/pictures/logo-watts.png" srcset="img/pictures/logo-watts@2x.png 2x, img/pictures/logo-watts@3x.png 3x" width="185" height="81" decoding="async" loading="lazy" alt="Логотип компании Watts Gallery Artists Village.">
              </picture>
            </a>
          </li>
          <li class="swiper-slide swiper-projects__slide">
            <a class="swiper-projects__link" href="#" target="_blank" rel="noopener">
              <picture>
                <source srcset="img/pictures/logo-ecole.avif, img/pictures/logo-ecole@2x.avif 2x, img/pictures/logo-ecole@3x.avif 3x" type="image/avif">
                <source srcset="img/pictures/logo-ecole.webp, img/pictures/logo-ecole@2x.webp 2x, img/pictures/logo-ecole@3x.webp 3x" type="image/webp">
                <img class="swiper-projects__picture" src="img/pictures/logo-ecole.png" srcset="img/pictures/logo-ecole@2x.png 2x, img/pictures/logo-ecole@3x.png 3x" width="229" height="62" decoding="async" loading="lazy" alt="Логотип компании Ecole.">
              </picture>
            </a>
          </li>
        </ul>
      </div>
      <button class="swiper-button-prev swiper-projects-prev" type="button"></button>
      <button class="swiper-button-next swiper-projects-next" type="button"></button>
    </div>
  </div>
</section>
