@media screen and (max-width: 90.625em) {
  .choices {
    &__list {
      &--dropdown,
      &[aria-expanded] {
        background-color: $black-color;
      }
    }
  }

  .content-accordion {
    &__list {
      grid-template: repeat(12, auto) / repeat(2, 1fr);
    }
  }

  .swiper-events {
    &__slide {
      height: auto;
    }

    &__content {
      height: 100%;
    }
  }
}
