<footer class="site-footer">
  <div class="container site-footer__container">
    <a class="logo-footer site-footer__logo" href="#">
      <img class="logo-footer__picture" src="img/sprites/sprite.svg#logo-blanchard" width="173" height="40" decoding="async" loading="lazy" alt="Логотип художественной галереи Бланчард.">
    </a>
    <ul class="socials-footer site-footer__socials">
      <li class="socials-footer__item">
        <a class="socials-footer__link" href="#" target="_blank" rel="noopener" aria-label="Страница компании в Вконтакте.">
          <svg class="socials-footer__icon" width="45" height="45" aria-hidden="true">
            <use xlink:href="img/sprites/sprite.svg#icon-vkontakte" />
          </svg>
        </a>
      </li>
      <li class="socials-footer__item">
        <a class="socials-footer__link" href="#" target="_blank" rel="noopener" aria-label="Страница компании в Инстаграм.">
          <svg class="socials-footer__icon" width="45" height="45" aria-hidden="true">
            <use xlink:href="img/sprites/sprite.svg#icon-instagram" />
          </svg>
        </a>
      </li>
      <li class="socials-footer__item">
        <a class="socials-footer__link" href="#" target="_blank" rel="noopener" aria-label="Страница компании в Фейсбук.">
          <svg class="socials-footer__icon" width="45" height="45" aria-hidden="true">
            <use xlink:href="img/sprites/sprite.svg#icon-facebook" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
